/* all page styling */
body { background-color: rgb(42, 82, 117);
       margin:0;
     }

@media(min-width:501px){
    .navbar{
        height: 5.5vh;
        width:100vw;
        display: inline-flex;
        background-color: hsla(195,50%,50%,0.7);
    }

    .navpage{
        width:fit-content;
        margin:auto;
        padding:0.4vh 2.5vw;
        text-decoration:none;
    }

    .navtoggle{
        display:none;
    }
}

/* min width is from that width and bigger */
/* max width is from that width and smaller */

@media(max-width:500px){

    *::before,
    *::after{
    box-sizing: border-box;
    }

    .navbar{ /*nav menu styles*/
        background:hsla(195,50%,50%,.9);
        position: absolute;
        left:-7.25em;
        top:.75em;
        border-radius:1.2em;  
    }

    .navpage{ /*link text styles*/
        display:flex;
        flex-direction:column;
        text-align: center;
        text-decoration:none;
        height:10vh;
        padding:1em 1em;
    }

    .navtoggle{ /*burger nmenu button styles */
        position:absolute;
        top:3em;
        transform:translateX(255%);
        background:hsla(195,50%,50%,0.7);
        border-radius:10px;
        height:3.5em;
        width:3.5em;
    }

    .nav-open .navbar{ transform: translateX(115%); }

     body .navbar{ transition:1.5s linear; }

    .burgermenu::before{ content:'Menu'; }

    .burgermenu::after{ display:none; }

    .nav-open .burgermenu::before{ display:none; }

    .nav-open .burgermenu::after{
        display:contents;
        content:'Close ❌';
    }
}

@media(min-width:465px){
    .navtoggle{
        top:3em;
    }
}

@media(max-width:464px){
    .navtoggle{
        top:6em;
    }
}

.navpage, a:link{ color: rgb(255, 255, 255); }

.navpage, a:visited{ color:rgb(0, 0, 0); }

.navpage, a:hover{ color:rgb(255, 255, 255); }

/*homepage styling*/

#title{
    display:flex;
    align-items:center;
    justify-content:center;
    margin: .25em 0 2em 0;

}

@media(min-width:501px){
    #intro{
        margin: 0.4rem;
        width:53%;
    }
}

@media(max-width:500px){
    #intro{
        margin: 0.4rem;
        width:80%;
    }
}

/* about me styles */

@media(min-width:801px){
    .text{ 
        display:inline-block;
        width: 50%;
        margin: 2%;
    }
}

@media(max-width:801px){
    .text{
        display:flex;
        flex-direction:column;
        text-align:center;
        margin: 0 2%;
    }
}

/* contact me style */

.contact{
    display:flex;
    flex-direction:column;
    text-align:center;
}

.displayname{
    margin:1.5em 0 0 0;
}

.displayinfo{
    margin:.5em 0;
}